<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488566739726-bgfqgb3lnhe5bna3tts8a6l9hhr32sv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488566739726-bgfqgb3lnhe5bna3tts8a6l9hhr32sv6</string>
	<key>API_KEY</key>
	<string>AIzaSyBD-rq_Z9fPbzb2h9Y6-2tn-_RDq4l31IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>488566739726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubbermaidapps</string>
	<key>PROJECT_ID</key>
	<string>rcp-smart-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rcp-smart-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488566739726:ios:385433256ea35fc0b7bd5f</string>
	<key>DATABASE_URL</key>
	<string>https://rcp-smart-app.firebaseio.com</string>
</dict>
</plist>